* {
    margin: 0px;
    font-family: Helvetica;
}

div{
    padding-inline: 200px;
}


header{
    display: flex;
    flex-direction: column;
    flex-grow: stretch; 
}

.header_menu{
    display: flex;
    padding-block: 20px;
}

.header_menu > h1{
    flex: auto;
}

.header_menu > .header_links{
    display: flex;
    align-items: stretch;
    align-items: center;
}

.header_links > a{
    padding-inline: 20px;
}

.darkbg{
    background-color: #1f2937;
    color: #F9FAF8;
}

.hero_main_text{
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
}

.hero_secondary_text{
    font-style: extra-bold;
    color: #F9FAF8;
}



.cta{
    display: flex;
    background-color: #488bf6;
    color: #F9FAF8;
}
button{
    border: 0px;
    border-radius: 5px;
    background-color: #488bf6;
    color: #F9FAF8;
}

.info_header{
    font-size: 36px;
    font-style: extra-bold;
    color: #1f2937;
}

.quote{
    background-color: #E5e7eb;
    font-size: 36px;
    font-style: "light italic";
    color: #1f2937;
}

.hero img{
    height: 400px;
    width: 600px;
}

.info_img img{
    width: 200px;
    height: 200px;
    border: 5px solid #488bf6;
    border-radius: 10px;
    object-fit: cover;
}

footer{
    padding: 30px;
    display: flex;
    justify-content: center;
}