/*general styling*/
* {
    margin: 0px;
    font-family: Helvetica;
}
div{
    padding-inline: 200px;
    padding-block: 50px;
}
.darkbg{
    background-color: #1f2937;
    color: #F9FAF8;
}
button{
    border: 0px;
    border-radius: 5px;
    background-color: #488bf6;
    color: #F9FAF8;
}
footer{
    padding: 30px;
    display: flex;
    justify-content: center;
}

/*general styling relating header*/
header{
    display: flex;
    flex-direction: column;
    flex-grow: stretch; 
}

.header_menu{
    display: flex;
    padding-block: 20px;
}

.header_menu > h1{
    flex: auto;
}

.header_menu > .header_links{
    display: flex;
    align-items: stretch;
    align-items: center;
}

.header_links > a{
    padding-inline: 20px;
}


/* general styling for hero*/
.hero{
    display: flex;
    flex-direction: row;
}

.hero_main_text{
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
}

.hero_secondary_text{
    font-style: extra-bold;
    color: #F9FAF8;
}

.hero img{
    height: 400px;
    width: 600px;
}

.hero button{
    height: 35px;
    width: 120px;
    margin-top: 10px;
    font-size: 18px;
}



/* general styling for info-section */
.info_header{
    font-size: 36px;
    font-style: extra-bold;
    color: #1f2937;
}
.info_img img{
    width: 200px;
    height: 200px;
    border: 5px solid #488bf6;
    border-radius: 10px;
    object-fit: cover;
}


/*general styling for quote section*/
.quote{
    background-color: #E5e7eb;
    font-size: 36px;
    font-style: "light italic";
    color: #1f2937;
}


/* general styling for call to action*/
.cta{
    display: flex;
    background-color: #488bf6;
    color: #F9FAF8;
}

